REDIS_IMAGE=redis:7-alpine
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

API_IMAGE=local/api:latest
WORKER_IMAGE=local/worker:latest
FRONTEND_IMAGE=local/frontend:latest

API_HOST_PORT=8000
API_CONTAINER_PORT=8000
FRONTEND_HOST_PORT=3000
FRONTEND_CONTAINER_PORT=3000

API_URL=http://api:8000
FRONTEND_HOST=0.0.0.0
FRONTEND_PORT=3000

COMPOSE_NETWORK_NAME=job_processor_network

REDIS_CPUS=0.50
REDIS_MEM_LIMIT=256m
API_CPUS=0.50
API_MEM_LIMIT=256m
WORKER_CPUS=0.50
WORKER_MEM_LIMIT=256m
FRONTEND_CPUS=0.50
FRONTEND_MEM_LIMIT=256m
